.ladder {
    overflow: auto;
    table {
        border-collapse: collapse;
        margin-bottom: 20px;
        font-size: 1.2rem;
        width: 99%;
        tr {
            background: #fff;
            border-bottom: 1px solid rgba(200, 200, 200, 0.5);
            border-left: 1px solid $blue;
            border-right: 1px solid $blue;
            &:nth-child(n + 10):nth-child(-n + 17) {
                background: #ededed;
            }

            td,
            th {
                padding: 10px 10px;
                text-align: center;
            }

            th {
                font-weight: normal;
                font-size: 0.9rem;
                font-style: italic;
                color: #888;
            }

            td {
                min-width: 100px;

                &:first-of-type {
                    min-width: 30px;
                }

                &:nth-child(2) {
                    min-width: 120px;
                }

                &:nth-child(2) {
                    text-align: left;
                }
            }

            &:nth-child(1) {
                text-align: center;
                background: transparent;
                color: $font-color;
                border: none;
            }
            &:nth-child(2) {
                border-top: 1px solid $blue;
            }
            &:last-of-type {
                border-bottom: 1px solid $blue;
            }
            &:hover {
                cursor: pointer;
                background: $secondary-blue !important;
                color: $font-color !important;
                th {
                    cursor: default;
                    background: #f3f3f3 !important;
                }
                td {
                    color: $font-color !important;
                }
            }
        }
    }

    &.show-team-percentages {
        td {
            color: #bbb;
            &.rank-percentage {
                color: darken($blue, 5%);
                font-weight: bold;
            }
        }

        .active-team {
            td:nth-child(2) {
                font-weight: bold;
            }
            td:nth-child(-n + 2) {
                color: darken($blue, 5%);
            }
        }
    }
}
